#IssueHolder{
	padding:10px;
	overflow:auto;
	height:100%;
}

#IssueHolder li{
	list-style:disc inside;
}

table{
	border-collapse:collapse;
}
table th{
	text-align:left;
}
table td{
	border:1px solid grey;
	padding:5px;
	background:#fff;
}

.hotsort1{color:#b3d6ec;}
.hotsort2{color:#4da7e1;}
.hotsort3{color:#6694c5;}
.hotsort4{color:#7787b2;}
.hotsort5{color:#937192;}
.hotsort6{color:#a5647f;}
.hotsort7{color:#ac5e76;}
.hotsort8{color:#c64b59;}
.hotsort9{color:#dc393f;}
.hotsort10{color:#eb2e2e;}

table.progress{
	width:100%;
}
table.progress td.closed{
	background-color:green;
}

div.right{
	
}

table.issues .description{
	height:1em;
	overflow:hidden;
}
	table.issues .description:hover{
		height:auto;
		overflow:display;
	}
